<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Success</title>
  </head>
  <body>
    <div class="wrapper">
    <h1>Thanks @ViewBag.name!</h1>
    <h3>Submitted Info:</h3>
    <div class="info">
        <p>Name:               @ViewBag.name</p>
        <p>Location:           @ViewBag.location</p>
        <p>Favorite Language:  @ViewBag.language</p>
        <p>Comments:           @ViewBag.comment</p>
    </div>
    <a class="header item" href="/">Home</a>
   </div>
  </body>
</html>
